{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="newPost" class="row justify-content-center">
        <div class="form-group col-6 p-5">
            <form action="{% url 'save_post' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <input class="form-control col-10" type="text" name="content" placeholder="What's happening?"> 
                    <input class="btn btn-dark col-2" type=submit value="Publish">
                </div>
            </form>
            
        </div>  
    </div>

    <div id="profile">
        <div class="card text-center">
            <div class="card-header">
            <h2 id="profile_username" class="card-title"></h2>

            <a id="follow-button" type="button" class="btn btn-outline-dark"></a>
        </div>
        <div class="row text-center">
            <div class="col col-lg-6">
            Following
            <div id="following-amount"></div>
            </div>
            <div class="col col-lg-6">
            Followers
            <div class="col " id="followers-amount"></div>
            </div>
        </div>
        
        </div>
    </div>
    
    <div id="posts"></div>
    
    <div id="pages" class ="row justify-content-center m-4" >
        <nav aria-label="Page navigation example">
        <ul id="pagination" class="pagination">
        </ul>
        </nav>    
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}